body{
    background-color: white;
}

.titulo2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 67px;
    text-align: center;
    color: white;
    background-color:rgba(248, 64, 18, 0.897);
}

.bot{
    positio: absolute;
    right: 0;

}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    
 img{
    margin: 20px;
 }

 .image-container{
    text-align: center;

 }
  
 .text-acima{
    display: block;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justifing;
 }

 .text-abaixo{
    display: block;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justifing;
 }

 button{
    background-color:rgba(248, 64, 18, 0.897);
    color: white;
 }
   
